body{
	font:14px "Roboto","Helvetica Neue",Helvetica,Arial,freesans;
	margin:0;padding:16px;
	}
	.noselect{
		-webkit-touch-callout:none;
		-webkit-user-select:none;-khtml-user-select:none;
		-moz-user-select:none;-ms-user-select:none;user-select:none;
		}.bubble{
			position:relative;
			padding:1.15em;
			margin:0.25em;
			border:0.2em solid white;
			border-radius:0.5em;
			transition:transform 0.25s ease-in,background-color 2s;
			-webkit-transition:-webkit-transform 0.25s ease-in,background-color 2s;
			-moz-transition:-moz-transform 0.25s ease-in,background-color 2s;-ms-transition:-ms-transform 0.25s ease-in,background-color 2s;-o-transition:-o-transform 0.25s ease-in,background-color 2s;
			}
			.bubble.highlight{
				background-color:#2196F3 !important;
				transform:scale(1.03,1.03);
				-webkit-transform:scale(1.03,1.03);
				-moz-transform:scale(1.03,1.03);
				-ms-transform:scale(1.03,1.03);
				-o-transform:scale(1.03,1.03);
				transition: none;
				-webkit-transition:none;
				-moz-transition:none;-ms-transition:none;-o-transition:none;
				}
				.bubble-text h3{
					font-size:150%;margin:0.5em 0;
				}
				.bubble-text ul{
					padding:0;
					margin:0;
					} 
					.bubble ul li {
						list-style: inside square;
						}
						.parent-line-label{
							border-radius:1em;
							background:#666666;
							color:#fff;
							padding:0.2em 0.5em;
							font-size:90%;
							display:inline-block;
							clear:both;
							} 
							.parent-line-label~.bubble-text{
								margin-top:0.5em;}.arrows{font-size: 200%;line-height:0%;}a{text-decoration:none;}.bubble-text~.attachments{margin-top:0.5em;}.attachment img{overflow:hidden;border-radius:0.2em;} .attachment~.attachment{margin-top:0.2em;}.attachment a.link span{text-decoration:underline;}.children-container{padding-left:2em;position:relative;}.toggle-children{text-align:center;position:absolute;left:-0.1em;top:-0.1em;width:1em;height:1em;padding:0;margin:0;line-height:1em;font-size:150%;z-index:10;opacity:0.4}.bubble:hover>.children-container>.toggle-children{opacity:0.7}.bubble:hover>.children-container>.toggle-children:hover{opacity:1;}.bubble>.children-container>.toggle-children{transition:transform 0.25s ease-out;-webkit-transition:-webkit-transform 0.25s ease-out;-moz-transition:-moz-transform 0.25s ease-out;-ms-transition:-ms-transform 0.25s ease-out;-o-transition:-o-transform 0.25s ease-out;}.bubble.collapsed>.children-container>.toggle-children{transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);}.bubble.collapsed>.children-container{height:0px;}.bubble.collapsed>.children-container>.bubble { display: none; }.lines-container{display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-direction:row;-webkit-flex-direction:row;flex-direction:row;} .bubble>*~.lines-container{margin-top:0.5em;}.lines-incoming,.lines-outgoing{-ms-flex:1 1 0.000000001px;-webkit-flex:1;flex:1;-webkit-flex-basis:0.000000001px;flex-basis:0.000000001px;}.lines-outgoing{text-align:right;}.line{display:inline-block;background-color:#fff;color:#333;padding:0.2em 0.5em;border-radius:0.2em;margin:0 0.2em 0.2em 0;} .line:hover{background-color:#EEE;}.line .arrows{line-height:0px;position:relative;top:0.1em;}.watermark{font-size:80%;text-align:center;margin-top:1em;opacity:0.7;}@media print{ .toggle-children{display:none;} }